/* common selector start */

:root {
    --brand-color:#17A2B8;
    --primary-color:  #F8F9FA;
    --Secondary-color: #00394f;
    --color-white: #fff;
    --color-dark:#138496;
    --border-width: 2px;
    --btn-padding: 10px 65px;
}

/*nav_section start*/
.nav_section .icon{
	display:flex;
	color:var(--Secondary-color);
	font-size:55px;
	font-weight:300;
	text-decoration: none;
}
.nav_section .brand_name{
	font-family:Nunito, sans-serif;
	color:var(--brand-color);
	align-self: center;
	font-size:40px;
	text-decoration: none;
}
.nav_section .menu-bar{
	display:flex;
	align-self: center;
	font-family:Nunito, sans-serif;
	font-size:16px;
	line-height:24px;
	font-weight:700;
	list-style:none;
}
.nav_section .menu-bar a{
	align-self: center;
	color:var(--Secondary-color);
	text-decoration: none;
	margin-right: 30px;
}
.nav_section .menu-bar li .first_child{
	color:var(--brand-color);
}
.nav_section .menu-bar a:hover{
	color:var(--brand-color);
}
.nav_section .search-box{
	align-self:center;
	border-radius: 20px;
	font-family:Nunito, sans-serif;
	font-size:16px;
	text-decoration: none;
	color:white;
	background:var(--brand-color);
	
}
.nav_section .search-box:hover{
	background: var(--color-dark);
}
/*nav section end*/
/*main section start*/
header{
	background:#17A2B8;
}
.header_section .main_section{
	padding-top: 150px;
	order: 2;
}
.header_section .main_section h2{
	font-family:Handlee, cursive;
	font-size:24px;
	line-height:29px;
	font-weight:700;
	color:var(--color-white);
}
.header_section .main_section h1{
	font-family:Handlee, cursive;
	font-size:65px;
	line-height:86px;
	font-weight:500;
	color:var(--color-white);
}
.header_section .main_section p{
	font-family:Nunito, sans-serif;
	font-size:16px;
	line-height:24px;
	font-weight:400;
	color:var(--color-white);
}
.header_section .main_section .learning_section{
	font-family:Nunito, sans-serif;
	font-size:16px;
	background:#00394f;
	text-decoration: none;
	color: var(--color-white);
	border-radius: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
/*main section end*/
/*block section start*/
.block_section .block_content{
	background: var(--primary-color);
}
.block_section h1{
	font-family:Handlee, cursive;
	font-size:24px;
	color:#00394f;
}
.block_section .block_content h3{
	color: var(--brand-color);
}
/*block section end*/
/*aside section start*/
.about_us .about_1{
	color: var(--brand-color);
	font-family: Nunito, sans-serif;
	font-size: 16px;
	font-weight: 300;
}
/* .about_1::before {
	position:absolute;
	content: "";
	top: 10px;
	left: 5px;
	width: 70%;
	height: 2px;
	background: #17a2b8;
  } */
  .about_us .best_school{
	color: var(--Secondary-color);
	font-family: Handlee, cursive;
	font-size: 40px;
	font-weight: 300;
}
.about-us .div_section .ri-check-line {
	color: var(--color-dark);
}
.about_us .icon{
	border-top: 1px solid #DEE2E6;
	display: flex;
	padding-bottom: 5px;
	width: 450px;
}
.aside_section a{
	background: var(--brand-color);
	color: var(--color-white);
	text-decoration: none;
	border-radius: 30px;
}
.about_us .icon i{
	color: #17A2B8;
}
.div_section .icon:last-child{
	border-bottom: 1px solid #DEE2E6 ;
}
/*aside section end*/
/*gallary section start*/
figure{
	border:1px solid green;
	display:flex;
	flex-direction: column;
	width:100%;
	height:600px;
}
figure p{
	border:1px solid green;
	display:flex;
	justify-content: center;
	width:100%;
	height:50px;
	font-family:Nunito, sans-serif;
	font-size:20px;
	line-height:24px;
	font-weight:400;
	color:#17a2b8;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
figure h1{
	border:1px solid green;
	display:flex;
	justify-content: center;
	width:100%;
	height:50px;
	font-family:Handlee, cursive;
	font-size:40px;
	line-height:48px;
	font-weight:700;
	color:#00394f;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

/*gallary section end*/